In [ ]:
#%cd drive/MyDrive/HandonTest/DataScienceProject/BootCamp/DataSets/
#%ls

[Errno 2] No such file or directory: 'drive/MyDrive/HandonTest/DataScienceProject/BootCamp/DataSets/'
/content/drive/MyDrive/HandonTest/DataScienceProject/BootCamp/DataSets

In [ ]:
#Import Libararies
#Import the follwing Liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:

#Load the data in data fram df from csv file
df = pd.read_csv('BankChurners.csv')
#Print the df
df

In [ ]:
#Print the Col headings
df.columns

In [ ]:
#Find type of data
df.info()

In [ ]:
df.dtypes

**Find Missing Values**

In [ ]:
#Find missing values
df.isnull()

In [ ]:
#It tell how many misising values are there in a col 
df.isnull().sum()

In [ ]:
#Fill Null values 
#Fill by 0
df.fillna(0)

In [ ]:
#Fill by Mean
df.fillna(df.mean())

In [ ]:
#Drop null values
df1=df.dropna()
df1=df.dropna(how='any')
df1
df1.isnull()
df.isnull().sum()
df.shape

#Do some Statistical Analysis

1.   List item
2.   List item

In [ ]:
#Find few Stats
df1.describe()

In [ ]:
#Print Col with object values not float or integers

dfobjt=df.select_dtypes(object)

In [ ]:
#Find how many unique values are there in an Col, such as Black, white, Red etc
dfobjt['Card_Category'].unique()

**Replace the Object name**

In [ ]:
#Find unique values or outliers 
df = pd.read_csv('BankChurners.csv')
#df=df['Gender'].unique()
df

df1 = df['Gender'].replace('F', 'O')
df1

0        NaN
1          O
2          M
3          O
4          M
        ...
10122      M
10123      M
10124      O
10125      M
10126      O
Name: Gender, Length: 10127, dtype: object

In [ ]:
#Find some correlation among the Col
df.corr()

**Do some Analysis**

In [ ]:
#Find minimum And Maximum Age
df['Customer_Age'].min()

In [ ]:
#Find Customers more than 50 years old
df.loc[(df["Customer_Age"] >=50)]
df.loc[(df["Customer_Age"] >=45) & (df["Customer_Age"] >= 60)]
AgeCateg=df.loc[(df["Customer_Age"] >=45)  & (df["Card_Category"] == "Gold")]
AgeCateg
df.loc[(df["Customer_Age"] >=45) & (df["Gender"] == 'M') & (df["Marital_Status"] == 'Single')]
#drop Age more than 100 years
df = df[df.Customer_Age != 100]
df

**Insert/Delete New Col**

In [ ]:

#Increase the credit limit by 10%

df['NewCreditLimit'] = df["Credit_Limit"] * 0.10
df.head()
#drop New Col
df = df.drop(columns=['NewCreditLimit'])
df.head()

#Add a column using iloc. add col numerical values and put into new col
df['NewCol'] = df.iloc[:,1:3].sum(axis=1)
df

**Data Sorting**

In [ ]:
#Sort the data
#df.sort_values('Customer_Age', ascending=True)
#df.sort_values(['dropoff_datetime','trip_distance'])
df.sort_values(['Customer_Age', 'Attrition_Flag'])

**Create A Dummy variable**

In [ ]:
df = pd.read_csv('BankChurners.csv')
#df = pd.get_dummies(df['Gender'])
#df = pd.get_dummies(df['Card_Category'])
df = pd.get_dummies(df['Card_Category'])
df.head(10)

**Find Specific Rows with Specific Col**

In [ ]:

df = pd.read_csv('BankChurners.csv')
#df.loc[2:8,'Gender']
#df.loc[2:8:2,'Gender']
df.loc[2:8,['Gender', 'Customer_Age']]

Find Specific Objects
**bold text**

In [ ]:
#Find specific object values
df.Marital_Status == 'Married'
df.loc[df.Marital_Status == 'Married', ['Months_on_book']].max()
#df.loc[df.Marital_Status == 'Married', ['Months_on_book']].sum()

Months_on_book    56.0
dtype: float64